body {
	background-color: #181818;
	color: white;
}
header {
	text-align: center;
}
h1 {
	font-size: 30pt;
	font-weight:bold;
	font-style: italic;
}
hr {
	border-style: dotted;
	border-width: 15px;
	border-color: white;
}
#link{
	color: white;
}